.App {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.art-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.no-gallery {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.gallery-container {
  padding: 2rem 2rem 2rem 2rem;
  flex: 1;
  margin-right: 2rem;
}

.filer-sort-buttons {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.btn {
  font-family: "Inter", sans-serif;
}

.dropdown-toggle,
.dropdown-menu .dropdown-item {
  font-family: "Inter", sans-serif;
}

.filter-dropdown-1 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: #212529;
  border-color: #212529;
}

.filter-dropdown-1:hover {
  background-color: #212529;
  border-color: #212529;
  color: white;
}

.filter-dropdown-1:focus {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: white;
}

.filter-dropdown-2 {
  margin-right: 0.5rem;
  background-color: #212529;
  border-color: #212529;
}

.filter-dropdown-2:hover {
  background-color: #212529;
  border-color: #212529;
  color: white;
}

.filter-dropdown-2:focus {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: white;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item.active {
  background-color: #e66767;
  color: white;
}

.favorites-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 300px;
  border-style: none none none solid;
  border-color: #b6b0b0;
}

.favorites-container h1 {
  font-size: 32px;
  padding-left: 4px;
  margin-bottom: 0;
}

.favorites-container img {
  width: 220px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.favorites-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding-left: 1rem;
}

.favorites-aggregate {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.favorite {
  padding-top: 6px;
  padding-bottom: 6px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 42px;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    padding-left: 1rem;
  }

  .gallery-container {
    margin-right: 0;
  }

  .favorites-container {
    width: 100%;
    border-style: none;
    border-top: solid 1px #b6b0b0;
  }
  .art-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .filer-sort-buttons {
    display: flex;
    justify-content: start;
    margin-bottom: 1rem;
  }
}
